@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    var techInfo1Options = new[]
{
        "Machine Drill Press",
        "Boiler",
        "Engine Diesel",
        "Gasoline",
        "Pressure Vessel",
        "Internal Combustion Engine"
    };

    var techInfo2Options = new[]
    {
        "Power Trucks",
        "Hand Trucks",
        "Conveyors",
        "Forklift",
        "Cranes"
    };
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
<div class="row justify-content-center">
    <form method="post"
          class="needs-validation" id="registerNew"
          novalidate>
        <fieldset>
            <div class="card w-100 shadow-sm border-0">
                <div class="card-body row g-4 ">
                    <div class="text-center mb-4">
                        @* <img src="~/img/_Layout/chatgpt-icon.svg"
                         alt="Brand logo"
                         class="rounded-circle border border-2 border-primary-subtle"
                         style="width: 96px; height: 96px;" /> *@
                        <h1 class="h3 fw-semibold mt-3 mb-1">Create your account</h1>
                        <p class="text-secondary mb-0">Complete the form below to get started.</p>
                    </div>


                    @Html.AntiForgeryToken()
                    <div class="col-md-6">
                        <label asp-for="Input.Register.UserName" class="form-label">Set Account Username / NickName</label>
                        <input asp-for="Input.Register.UserName" type="text" class="form-control" id="userName" placeholder="Username" required />
                        <div class="invalid-feedback">Username is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Email" class="form-label">Establishment Email Address</label>
                        <input asp-for="Input.Email" type="text" class="form-control" id="estEmail" placeholder="ex. janedoe@gmail.com" required />

                        <div class="invalid-feedback">Email is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Password" class="form-label">Password</label>
                        <div class="input-group">
                            <input asp-for="Input.Password" type="password" class="form-control" id="password" placeholder="Password" required />
                            <button class="input-group-text togglePassword" type="button" id="togglePassword">
                                <i class="fas fa-eye" style="cursor: pointer"></i>
                            </button>
                        </div>
                        <div class="invalid-feedback">Password is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                        <div class="input-group">
                            <input asp-for="Input.ConfirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" required />
                            <button class="input-group-text toggleConfirmPassword" type="button" id="toggleConfirmPassword"></button>
                        </div>
                        <div class="invalid-feedback">Password is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstPhone" class="form-label">Establishment Cellphone / Telephone Number</label>
                        <input asp-for="Input.Register.EstPhone" type="text" class="form-control" id="estPhone" placeholder="ex. +63 (02) 012-3456 /09********" required />
                        <div class="invalid-feedback">Cellphone/Telephone Number is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstName" class="form-label">Establishment Name</label>
                        <input asp-for="Input.Register.EstName" type="text" class="form-control" id="estName" placeholder="Establishment Name" required />
                        <div class="invalid-feedback">Establishment Name is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstType" class="form-label">Establishment Type</label>
                        <select asp-for="Input.Register.EstType" class="form-select" id="estType">
                            <option value="" selected disabled>Select type of Establishment</option>
                            <option value="SINGLE ESTABLISHMENT">
                                Single Establishment (Main Branch)
                            </option>
                            <option value="BRANCH ONLY">Branch Only (Branch Unit)</option>
                        </select>
                        <div class="invalid-feedback">Establishment Type is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstLegalOrg" class="form-label">Legal Organization</label>
                        <select asp-for="Input.Register.EstLegalOrg" class="form-select" id="estLegalOrg" required>
                            <option value="" selected disabled>Select Legal Organization</option>
                            <option value="SINGLE PROPRIETORSHIP">
                                Single Proprietorship
                            </option>
                            <option value="PRIVATE CORPORATION">
                                Private Corporation
                            </option>
                            <option value="OTHERS">
                                Others
                            </option>
                        </select>
                        <div class="invalid-feedback">Legal Organization is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstLegalOrgOther" class="form-label">Other Legal Organization</label>
                        <input asp-for="Input.Register.EstLegalOrgOther" type="text" class="form-control" id="estLegalOrgOther" placeholder="Input the legal organization type" required />
                        <div class="invalid-feedback">Legal Organization is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstRegion" class="form-label">Region</label>
                        <select asp-for="Input.Register.EstRegion"
                                class="form-select "
                                id="estRegion">
                            <option value="" disabled selected>Select Region</option>
                            <option value="Region IV-A (CALABARZON)">Region IV-A (CALABARZON)</option>
                        </select>
                        <div class="invalid-feedback">First name is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstProvince" class="form-label">Province</label>
                        <select asp-for="Input.Register.EstProvince"
                                class="form-select "
                                id="estProvince"
                                disabled>
                            <option value="" disabled selected>Select Province</option>
                        </select>
                        <div class="invalid-feedback">Region is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstCityMun" class="form-label">City / Municipality</label>
                        <select asp-for="Input.Register.EstCityMun"
                                class="form-select "
                                id="estCityMun"
                                disabled>
                            <option value="" disabled selected>Select City/Municipality</option>
                        </select>
                        <div class="invalid-feedback">City / Municipality is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstBrgy" class="form-label">Barangay</label>
                        <select asp-for="Input.Register.EstBrgy"
                                class="form-select "
                                id="estBrgy"
                                disabled>
                            <option value="" disabled selected>Select Barangay</option>
                        </select>
                        <div class="invalid-feedback">Barangay is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstStreet" class="form-label"> Street Address/ Floor/ Bldg. No./ Subdivision:</label>
                        <input asp-for="Input.Register.EstStreet" type="text" class="form-control" id="estStreet" placeholder="ex. 45 Sesame Street" required />
                        <div class="invalid-feedback">Street Address is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstOwnerFirst" class="form-label" id="estOwnerFirst">
                            First Name of
                            Manager/Owner
                        </label>
                        <input asp-for="Input.Register.EstOwnerFirst" type="text" class="form-control" id="estOwnerFirst" placeholder="ex. Jane" required />
                        <div class="invalid-feedback">
                            First Name of Manager/Owner is required.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstOwnerMid" class="form-label">
                            Middle Name of
                            Manager/Owner:
                        </label><span class="text-muted">(Leave Blank if None)</span>
                        <input asp-for="Input.Register.EstOwnerMid" type="text" class="form-control" id="estOwnerMid" placeholder="ex. Opal" />
                        <div class="invalid-feedback">
                            Middle Name of Manager/Owner is required.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstOwnerLast" class="form-label">
                            Last Name of
                            Manager/Owner
                        </label>
                        <input asp-for="Input.Register.EstOwnerLast" type="text" class="form-control" id="estOwnerLast" placeholder="ex. Doe" required />
                        <div class="invalid-feedback">Last name of Manager/Owner is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstCurrentCap" class="form-label">
                            Current Capitalization
                        </label>
                        <input asp-for="Input.Register.EstCurrentCap" type="text" class="form-control" id="estCurrentCap" required />
                        <div class="invalid-feedback">Current Capitalization is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstTotalAssets" class="form-label">
                            Total Assets
                        </label>
                        <input asp-for="Input.Register.EstTotalAssets" type="text" class="form-control" id="estTotalAssets" required />
                        <div class="invalid-feedback">Total Assets name is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstBusinessNature" class="form-label">Nature of Business</label>
                        <select asp-for="Input.Register.EstBusinessNature" class="form-select " id="estBusinessNature">
                            <option value="" selected disabled>Select Nature of Business</option>
                            <option value="Agriculture, Forestry, and Fishing">
                                Agriculture,
                                Forestry, and
                                Fishing
                            </option>
                            <option value="Mining and Quarrying">Mining and Quarrying</option>
                            <option value="Manufacturing">Manufacturing</option>
                            <option value="Electricity, Gas, Steam, and Air Conditioning Supply">
                                Electricity, Gas,
                                Steam, and Air Conditioning Supply
                            </option>
                            <option value="Water Supply; Sewerage, Waste Management, and Remediation Activities">
                                Water Supply; Sewerage, Waste Management, and Remediation
                                Activities
                            </option>
                            <option value="Construction">Construction</option>
                            <option value="Wholesale and Retail Trade; Repair of Motor Vehicles and Motorcycles">
                                Wholesale and Retail Trade; Repair of Motor Vehicles and
                                Motorcycles
                            </option>
                            <option value="Transportation and Storage">
                                Transportation and
                                Storage
                            </option>
                            <option value="Accomodation and Food Service Activities">
                                Accomodation
                                and Food
                                Service
                                Activities
                            </option>
                            <option value="Information and Communication">
                                Information and
                                Communication
                            </option>
                            <option value="Financial and Insurance Activities">
                                Financial and
                                Insurance
                                Activities
                            </option>
                            <option value="Real Estate Activities">
                                Real Estate Activities
                            </option>
                            <option value="Professional, Scientific, and Technical Activities">
                                Professional,
                                Scientific, and Technical Activities
                            </option>
                            <option value="Administrative and Support Service Activities">
                                Administrative and
                                Support
                                Service Activities
                            </option>
                            <option value="Public Administration and Defense; Compulsory Social Security">
                                Public Administration and Defense; Compulsory Social Security
                            </option>
                            <option value="Education">Education</option>
                            <option value="Human Health and Social Work Activities">
                                Human Health
                                and
                                Social Work
                                Activities
                            </option>

                            <option value="Activities of Households as Employers; Undifferentiated Goods-and Services-Producing Activities of Households for Own Use">
                                Activities of Households as Employers; Undifferentiated
                                Goods-and Services-Producing Activities of Households for Own
                                Use
                            </option>
                            <option value="Activities of Extra-Territorial Organizations and Bodies">
                                Activities of Extra-Territorial Organizations and Bodies
                            </option>
                            <option value="Others,Please Specify">Others,Please Specify</option>
                        </select>
                        <div class="invalid-feedback">Business Nature is required.</div>
                    </div>

                    <div class="col-md-6 d-none" id="estOtherBusNatureDiv">
                        <label asp-for="Input.Register.EstOtherBusNature" class="form-label">Specify Business Nature</label>
                        <input asp-for="Input.Register.EstOtherBusNature" type="text" class="form-control" id="estOtherBusNature" required />
                        <div class="invalid-feedback">Other Business Nature is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstMaleCount" class="form-label">Number of Male Employees</label>
                        <input asp-for="Input.Register.EstMaleCount" type="text" class="form-control" id="estMaleCount" required />
                        <div class="invalid-feedback">Number of Female Employee is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstFemaleCount" class="form-label">Number of Female Employees</label>
                        <input asp-for="Input.Register.EstFemaleCount" type="text" class="form-control" id="estFemaleCount" required />
                        <div class="invalid-feedback">Number of Female Employee is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstTotalEmployees" class="form-label">Total Number of Employees</label>
                        <input asp-for="Input.Register.EstTotalEmployees" type="text" class="form-control" id="estTotalEmployees" required />
                        <div class="invalid-feedback">Number of Total Employee is required.</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-12">
                            <label class="form-label" asp-for="Input.Register.EstTechInfo1" class="form-check-label">
                                Technical
                                Information 1:
                            </label>
                            <br>
                            <div class="d-flex flex-wrap gap-4 rounded p-2 bg-body-secondary bg-gradient text-black">
                                @foreach (var option in techInfo1Options)
                                {
                                    var checkboxId = $"techInfo1_{option.Replace(" ", "")}";
                                    <div class="form-check">
                                        <input type="checkbox"
                                               class="form-check-input"
                                               name="estTechInfo1"
                                               value="@option"
                                               @(Model?.Input.Register.EstTechInfo1?.Contains(option) == true ? "checked" : null) />
                                        <label class="form-check-label" for="@checkboxId">@option</label>
                                    </div>
                                }
                                <div class="form-check">
                                    <input type="checkbox"
                                           class="form-check-input"
                                           id="estTechInfo1OtherCheckBox"
                                           name="estTechInfo1"
                                           value="Others" />
                                    <label class="form-check-label" for="estTechInfo1OtherCheckBox">Others, Please Specify</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-none" id="estTechInfo1OtherDiv">
                        <label asp-for="Input.Register.EstTechInfo1Other" class="form-label">Provide Other Technical Information 1</label>
                        <input asp-for="Input.Register.EstTechInfo1Other" type="text" class="form-control" id="estTechInfo1Other" />
                        <div class="invalid-feedback">Other Technical Information 1 is required.</div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-lg-12">
                            <label class="form-label" for="est_techinfo2[]">Technical Information 2: </label>
                            <br>
                            <div class="d-flex flex-wrap gap-4 rounded p-2 bg-body-secondary bg-gradient text-black">
                                @foreach (var option in techInfo2Options)
                                {
                                    var checkboxId = $"techInfo2_{option.Replace(" ", "")}";
                                    <div class="form-check">
                                        <input type="checkbox"
                                               class="form-check-input ml-2"
                                               name="estTechInfo2"
                                               value="@option"
                                               @(Model?.Input.Register.EstTechInfo2?.Contains(option) == true ? "checked" : null) />
                                        <label class="form-check-label" for="@checkboxId">@option</label>
                                    </div>
                                }
                                <div class="form-check">
                                    <input type="checkbox"
                                           class="form-check-input ml-2"
                                           id="estTechInfo2OtherCheckBox"
                                           name="estTechInfo2"
                                           value="Others" />
                                    <label class="form-check-label" for="estTechInfo2OtherCheckBox">Others, Please Specify</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 d-none" id="estTechInfo2OtherDiv">
                        <label asp-for="Input.Register.EstTechInfo2Other" class="form-label">
                            Provide Other Technical Information 2
                        </label>
                        <input asp-for="Input.Register.EstTechInfo2Other" type="text" class="form-control" id="estTechInfo2Other" />
                        <div class="invalid-feedback">Other Technical Information 2 is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstChemSubstance" class="form-label">
                            Provide Other Chemical Subtances
                            uses or
                            Handled
                        </label>
                        <input asp-for="Input.Register.EstChemSubstance" type="text" class="form-control" id="estChemSubstance" required />
                        <div class="invalid-feedback">Other Technical Information 2 is required.</div>
                    </div>


                    <div class="my-4" id="estBisnessUnitDiv">
                        <!-- display none -->
                        <div class="bg-body-secondary p-4 rounded">
                            <input type="checkbox" id="estIsHaveBranchUnits">
                            <label class="form-label ml-3" for="estIsHaveBranchUnits">
                                Do you have Branch Unit/s?
                                <span class="text-muted fw-lighter">(Please Specify)</span>
                            </label>
                            <div class="rounded my-3 d-none" id="branchUnitContent">
                                <div class="mb-2 mt-3 p-2 bg-primary text-center text-light rounded">
                                    <h4>Branch Unit</h4>
                                </div>
                                <button class="btn btn-warning w-100" id="addBranchBtn" type="button">
                                    Add
                                    Branch
                                </button>
                                <div class="d-none" id="branchContainer"></div>
                            </div>
                        </div>
                    </div>

                    <div class="my-1">
                        @*should have d-none*@
                        <div class="bg-body-secondary p-4 rounded">
                            <input type="checkbox" id="estIsHaveLaborUnion">
                            <label class="form-label ml-3" for="estIsHaveLaborUnion">
                                Do you have an Existing
                                Registered Labor Union/s?<span class="text-muted fw-lighter">
                                    (Please
                                    Specify)
                                </span>
                            </label>

                            <div class="rounded d-none" id="laborUnionContent">
                                <div class="mb-2 mt-3 p-2 bg-primary text-center text-light rounded">
                                    <h4>Labor Union</h4>
                                </div>

                                <button class="btn btn-warning w-100" id="addUnionBtn" type="button">
                                    Add
                                    Labor Union
                                </button>
                                <div id="LabUnionContainer"></div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center mb-4">
                        @* <img src="~/img/_Layout/chatgpt-icon.svg"
                         alt="Brand logo"
                         class="rounded-circle border border-2 border-primary-subtle"
                         style="width: 96px; height: 96px;" /> *@
                        <h1 class="h3 fw-semibold mt-3 mb-1">Attachments</h1>
                        <p class="text-secondary mb-0">Upload the required Files in PDF format</p>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstSECNumber" class="form-label">
                            SEC Company Registration Number / DTI Business Name No.
                        </label>
                        <input asp-for="Input.Register.EstSECNumber" type="text" class="form-control" id="estSECNumber" required />
                        <div class="invalid-feedback">SEC Company Registration Number / DTI Business Name No. is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstSECDateIssued" class="form-label">
                            Provide Other Chemical Subtances
                            uses or
                            Handled
                        </label>
                        <input asp-for="Input.Register.EstSECDateIssued" type="date" class="form-control" id="estSECDateIssued" required />
                        <div class="invalid-feedback">First name is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstSECFile" class="form-label">
                            Scanned or Photocopy of <span>SEC Registration or DTI Certificate</span>: <span class="text-danger fw-bolder"> *</span>
                            <small class="text-info">
                                <i>
                                    Attach PDF file with a maximum upload file size of 25
                                    megabytes
                                </i>
                            </small>
                        </label>
                        <input asp-for="Input.Register.EstSECFile" type="file" class="form-control" id="estSECFile" required />
                        <div class="invalid-feedback">First name is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstBisPermitNumber" class="form-label">
                            SEC Company Registration Number / DTI Business Name No.
                        </label>
                        <input asp-for="Input.Register.EstBisPermitNumber" type="text" class="form-control" id="estBisPermitNumber" required />
                        <div class="invalid-feedback">SEC Company Registration Number / DTI Business Number is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstBisPermitDateIssued" class="form-label">
                            SEC Company Registration Number / DTI Business Issued Date
                        </label>
                        <input asp-for="Input.Register.EstBisPermitDateIssued" type="date" class="form-control" id="estBisPermitDateIssued" required />
                        <div class="invalid-feedback">SEC Company Registration Number / DTI Business Date Issued is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstBisPermitValidityDate" class="form-label">
                            SEC Company Registration Number / DTI Business Validity Date
                        </label>
                        <input asp-for="Input.Register.EstBisPermitValidityDate" type="date" class="form-control" id="estBisPermitValidityDate" required />
                        <div class="invalid-feedback">SEC Company Registration Number / DTI Business is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstBisPermitFile" class="form-label">
                            Scanned or Photocopy of <span>Business or Mayor's Permit</span>: <span class="text-danger fw-bolder"> *</span>
                            <small class="text-info">
                                <i>
                                    Attach PDF file with a maximum upload file size of 25
                                    megabytes
                                </i>
                            </small>
                        </label>
                        <input asp-for="Input.Register.EstBisPermitFile" type="file" class="form-control" id="estBisPermitFile" required />
                        <div class="invalid-feedback">Business or Mayor's Permit is required.</div>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstOwnerValidIDNumber" class="form-label">
                            Valid National ID Number
                        </label>
                        <input asp-for="Input.Register.EstOwnerValidIDNumber" type="text" class="form-control" id="estOwnerValidID" required />
                        <div class="invalid-feedback">Valid ID Number is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstOwnerValidIDDateIssued" class="form-label">
                            Valid National ID Number Date Issued
                        </label>
                        <input asp-for="Input.Register.EstOwnerValidIDDateIssued" type="date" class="form-control" id="estOwnerValidIDDateIssued" required />
                        <div class="invalid-feedback"> is required.</div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstOwnerValidIDDateExpire" class="form-label">
                            Valid National ID Number Date Expire
                        </label>
                        <input asp-for="Input.Register.EstOwnerValidIDDateExpire" type="date" class="form-control" id="estOwnerValidIDDateExpire" />
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.Register.EstOwnerValidIDFile" class="form-label">
                            Scanned or Photocopy of <span>Valid ID</span>: <span class="text-danger fw-bolder"> *</span>
                            <small class="text-info">
                                <i>
                                    Attach PDF file with a maximum upload file size of 25
                                    megabytes
                                </i>
                            </small>
                        </label>
                        <input asp-for="Input.Register.EstOwnerValidIDFile" type="file" class="form-control" id="estOwnerValidIDFile" required />
                        <div class="invalid-feedback">Valid ID is required.</div>
                    </div>
                    <div class="col-12 d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">New</button>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="card w-100 shadow-sm border-0">
                <div class="card-header">
                    <h5 class="card-title">Establishment Application Profile</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <dl class="row">
                            <!-- employer details review -->
                            <dt class="col-sm-12 col-lg-4">Set Account Username / NickName</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewUsername"></dd>
                            <dt class="col-sm-12 col-lg-4">Establishment Email Address</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstEmail"></dd>
                            <dt class="col-sm-12 col-lg-4">Establishment Cellphone / Telephone Number</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstPhone"></dd>
                            <dt class="col-sm-12 col-lg-4">Establishment Name</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstName"></dd>
                            <dt class="col-sm-12 col-lg-4">Establishment Type</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstType"></dd>
                            <dt class="col-sm-12 col-lg-4">Legal Organization</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstLegalOrg"></dd>
                            <dt class="col-sm-12 col-lg-4">Other Legal Organization</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstLegalOrgOther"></dd>
                            <dt class="col-sm-12 col-lg-4">Region</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstRegion"></dd>
                            <dt class="col-sm-12 col-lg-4">Province</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstProvince"></dd>
                            <dt class="col-sm-12 col-lg-4">City / Municipality</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstCityMun"></dd>
                            <dt class="col-sm-12 col-lg-4">Barangay</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstBrgy"></dd>
                            <dt class="col-sm-12 col-lg-4">Street Address / Floor / Bldg. No. / Subdivision</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstStreet"></dd>
                            <dt class="col-sm-12 col-lg-4">Manager/Owner First Name</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstOwnerFirst"></dd>
                            <dt class="col-sm-12 col-lg-4">Manager/Owner Middle Name</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstOwnerMid"></dd>
                            <dt class="col-sm-12 col-lg-4">Manager/Owner Last Name</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstOwnerLast"></dd>
                            <dt class="col-sm-12 col-lg-4">Current Capitalization</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstCurrentCap"></dd>
                            <dt class="col-sm-12 col-lg-4">Total Assets</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstTotalAssets"></dd>
                            <dt class="col-sm-12 col-lg-4">Nature of Business</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstBusinessNature"></dd>
                            <dt class="col-sm-12 col-lg-4">Specify Nature of Business</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstOtherBusNature"></dd>
                            <dt class="col-sm-12 col-lg-4">Number of Male Employees</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstMaleCount"></dd>
                            <dt class="col-sm-12 col-lg-4">Number of Female Employees</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstFemaleCount"></dd>
                            <dt class="col-sm-12 col-lg-4">Total Number of Employees</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstTotalEmployees"></dd>
                            <dt class="col-sm-12 col-lg-4">Technical Information 1</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstTechInfo1"></dd>
                            <dt class="col-sm-12 col-lg-4">Other Technical Information 1</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstTechInfo1Other"></dd>
                            <dt class="col-sm-12 col-lg-4">Technical Information 2</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstTechInfo2"></dd>
                            <dt class="col-sm-12 col-lg-4">Other Technical Information 2</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstTechInfo2Other"></dd>
                            <dt class="col-sm-12 col-lg-4">Chemical Substances Used or Handled</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstChemSubstance"></dd>
                            <dt class="col-sm-12 col-lg-4">SEC / DTI Registration Number</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstSECNumber"></dd>
                            <dt class="col-sm-12 col-lg-4">SEC / DTI Date Issued</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstSECDateIssued"></dd>
                            <dt class="col-sm-12 col-lg-4">SEC / DTI Attachment</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstSECFile"></dd>
                            <dt class="col-sm-12 col-lg-4">Business Permit Number</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstBisPermitNumber"></dd>
                            <dt class="col-sm-12 col-lg-4">Business Permit Date Issued</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstBisPermitDateIssued"></dd>
                            <dt class="col-sm-12 col-lg-4">Business Permit Validity Date</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstBisPermitValidityDate"></dd>
                            <dt class="col-sm-12 col-lg-4">Business Permit Attachment</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstBisPermitFile"></dd>
                            <dt class="col-sm-12 col-lg-4">Valid National ID Number</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstOwnerValidIDNumber"></dd>
                            <dt class="col-sm-12 col-lg-4">Valid National ID Date Issued</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstOwnerValidIDDateIssued"></dd>
                            <dt class="col-sm-12 col-lg-4">Valid National ID Date Expire</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstOwnerValidIDDateExpire"></dd>
                            <dt class="col-sm-12 col-lg-4">Valid ID Attachment</dt>
                            <dd class="col-sm-12 col-lg-8" id="reviewEstOwnerValidIDFile"></dd>
                        </dl>
                    </div>
                    <div class="container mt-3 bg-light p-3 d-none" id="review_branch_unit_container">
                        <h5 class="text-muted">Branch Unit</h5>
                        <table class="table table-bordered" id="est_branch_table">
                            <thead>
                                <tr>
                                    <th class="text-center">Rule 1020 Application #</th>
                                    <th class="text-center">Branch Establishment Name</th>
                                    <th class="text-center">Location</th>
                                </tr>
                            </thead>
                            <tbody id="review_est_branch_body">
                            </tbody>
                        </table>
                    </div>

                    <div class="container mt-3 bg-light p-3 d-none" id="review_labor_union_container">
                        <h5 class="text-muted">Labor Union</h5>
                        <table class="table table-bordered" id="est_union_table">
                            <thead>
                                <tr>
                                    <th class="text-center">Name of Labor union</th>
                                    <th class="text-center">Address of Labor union</th>
                                    <th class="text-center">BLR Registration number</th>
                                </tr>
                            </thead>
                            <tbody id="review_est_union_body">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="alert alert-info">
                    <div class="form-check">
                        <input type="checkbox" id="certify" name="certify_agreement" class="form-check-input"
                               value="true">
                        <label class="form-label" for="certify" class="form-check-label">
                            &nbsp;&nbsp;&nbsp;&nbsp; I HEREBY: 1)Certify the truthfulness of the above-mentioned
                            information based on my own personal knowledge and authentic records;
                            2)Commit to strictly implement the herein attached designed for this specific
                            establishment and comply with occupational and health
                            standard required by law;
                            and 3)Be responsible for any accident that will happen during the operation of the
                            Establishment
                            especially for the welfare of the workers who are employed to perform the duties.
                        </label>
                    </div>
                </div>
                <div class="alert alert-info">
                    <div class="form-check">
                        <input type="checkbox" id="certifydpa" name="certify_agreement" class="form-check-input"
                               value="true">
                        <label class="form-label" for="certify_dpa" class="form-check-label">
                            &nbsp;&nbsp;&nbsp;&nbsp; CONSENT NOTICE: The Department of Labor and Employment
                            Regional Office No. IV-A values and is committed to comply with Republic Act No.
                            10173
                            otherwise known as the Philippine Data Privacy Act of 2012 (“Data Privacy Act”) to
                            protect and safeguard your privacy. By accomplishing this form, you signify your
                            acceptance
                            to provide pertinent and personal information about you or data establishment. All
                            information that will be collected through this form will be used for the sole
                            purpose of monitoring
                            and fulfilling the functions of this Office. We may only keep your information until
                            such time that we have attained the purpose by which we collect them and when the
                            information is no longer required
                            the DOLE RO IVA procedure will be followed to dispose of said data. Under the
                            foregoing circumstances and to the extent permissible by applicable law. You agree
                            not to take action against DOLE RO IVA for the
                            disclosure and retention of your information.
                        </label>
                    </div>
                </div>
                <div class="col-12 d-grid">
                    <button type="submit" class="btn btn-primary btn-lg ladda-button">Submit Form</button>
                </div>
            </div>
        </fieldset>
    </form>

</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
